:root {
  font-family: 'Helvetica', 'Arial';
  color: #383838;
  line-height: 1.5;
}

/* HEADER */
.header {
  position: relative; /* for search bar */
  margin-bottom: 40px;
  padding: 20px 50px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.search button {
  width: 30px;
  height: 30px;
}

.search button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.search button:focus {
  outline: 2px dashed #3AB98D;
}

/* Search Bar */
.search-bar {
  position: absolute;
  top: calc(100% - 3px);
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
}

.search-bar form {
  border: 1px solid #707070;
  border-radius: 12px;
  background: white;
  padding: 5px 10px;
}

.search-bar input {
  border: none;
  padding: 0;
  color: #555555;
}

.search-bar input:focus {
  outline: none;
}

.search-bar input[type="submit"] {
  font-size: 0.8em;
  font-weight: 100;
  color: #707070;
  cursor: pointer;
}

.search-bar input[type="text"] {
  border-bottom: 1px solid #707070;
}

/* Blog Content */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post:nth-last-child(n+2) {
  margin-bottom: 30px;
  border-bottom: dotted #3AB98D 6px;
}

time {
  color: #707070;
}

.blog-post > *,
h1, 
h2 {
  padding: 0 16px;
}

h1, h2 {
  font-weight: normal;
}

.post-alert {
  color: white;
  background: #3AB98D;
  padding: 16px;
  
}

.post-alert p {
  margin: 0;
}

/* @media */
@media (min-width: 426px) {
  .logo,
  .search button {
    width: 60px;
    height: 60px;
  }
  .search-bar{
    left: auto;
  }
}

@media (min-width: 900px) {

  .blog-post {
    max-width: 900px;
  }

  .post-alert {
    padding: 0px;
    margin: 16px;
  }

  .post-alert p {
    padding: 26px 16px;
  }
}