:root {
  font-family: 'Helvetica';
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
  padding: 20px 50px;
}

.logo,
.search {
  width: 60px;
}

.blog {
  display: flex;
  justify-content: center;
}

.blog-post {
  max-width: 900px;
}

.blog-post > *,
h1, 
h2 {
  padding: 0 16px;
}

h1, h2 {
  font-weight: normal;
}

.post-alert {
  color: white;
  background: #3AB98D;
  padding: 16px;
  
}

.post-alert p {
  margin: 0;
}

@media (min-width: 900px) {

  .post-alert {
    padding: 0px;
    margin: 16px;
  }

  .post-alert p {
    padding: 26px 16px;
  }
}